best.pt
best_yolo11.pt
output_video.mp4
datas/


0514(닭 따라가기)/__pycache__
0514(닭 따라가기)/모듈화/__pycache__
0514(닭 따라가기)/모듈화2/__pycache__

0521(id집합표현개선)/results
0524_폐사체데이터증강/results
0528_id집합표현개선2/results
0528_id집합표현개선2/a100_results